* {
	font-family: Calibri;
	//text-align: center;
}
.board {
	text-align: center;

}
.column-container {
	display: flex;
	wrap: no-wrap;
	flex-direction: row;
	align-items: stretch;
	align-contnet: stretch;
	justify-content: center;
	padding: 20px 10%;
}
.column {
//	display: flex;
	flex: 1;
}
button {
	border: none;
}
.card {
	display: flex;
	flex-direction: row;
	margin: 5px auto;
	padding: auto;
	list-style: none;
	text-align: left;
	border-bottom: 1px solid;
	border-left: 1px solid;
	font-size: 20px;
	height: 50px;
	p {
		margin: auto 10px;
	}
}